.header {
    margin-block: 1rem;
}

.headerWrapper {
    height: var(--nav-height-desktop);
    padding: 1rem 1.5rem;
}

@media (max-width: 768px) {
    .headerWrapper {
        height: var(--nav-height-mobile);
    }
}