.sectionWrapper {
    /* width: 50%; */
}

/* .sectionWrapper p {
    font-family: var(--roboto);
    text-align: justify;
} */

.primaryText {
    composes: primaryText from "../HomeSectionLayout/HomeSectionLayout.module.css";
}

@media (max-width: 780px) {
    .sectionWrapper {
        /* width: 80%; */
    }
}