.projectsWrapper {
    display: grid;
    gap: 1rem;
    grid-template-areas:
        'wordle wordle malu'
        'ecommerce dropdown malu'
        'todo todo malu';

    /* width: 80%; */
    margin: 0 auto;
}

.projectWrapper {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: all 0.5s ease;
    z-index: 2;

}

.projectContainer {
    position: relative;
    background-size: cover;
    min-height: 25vh;
    background-repeat: no-repeat;
    transition: background-position 2s ease;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 25px, rgba(0, 0, 0, 0.22) 0px 10px 12px;
    overflow: hidden;

}

.projectText {
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 1rem;
    transition: 1s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    opacity: 0;
    transform: translateX(-50%);
}

.projectText h4 {
    font-size: 1.2rem;
    margin-bottom: auto;
    width: 70%;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 3px 3px;
}

.projectText p {
    font-size: 1rem;
    font-weight: 300;
    width: 60%;
    text-shadow: rgba(0, 0, 0, 1) 0px 3px 3px;
}

.links {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    opacity: 0;
    z-index: 10;
    transition: 1.5s ease;
}

.linkIcon {
    width: 25px;
    height: 25px;
    color: white;
}

.linkIcon:hover {
    transform: scale(1.1);
    color: var(--cl-accent);
}

.projectContainer:hover .overlay {
    opacity: 70%;
    background: black;
}

.projectContainer:hover .projectText {
    transform: translateX(0);
    opacity: 1;
}

.projectContainer:hover .links {
    opacity: 1;
    /* animation: 1s shine ease; */
}

.projectContainer:hover .linkIcon {
    animation: 0.9s shine ease;
}

@keyframes shine {
    0% {}

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }

}


.projectContainer:hover {
    background-position: 20%;
    /* filter: blur(10px); */
}

.projectContainer:nth-child(2):hover {
    background-position: 40%;
    transition: background-position 3s ease;
}

.projectContainer:nth-child(1) {
    grid-area: wordle;
}


.projectContainer:nth-child(2) {
    grid-area: malu;
}

.projectContainer:nth-child(3) {
    grid-area: ecommerce;
}

.projectContainer:nth-child(4) {
    grid-area: dropdown;
}

.projectContainer:nth-child(5) {
    grid-area: todo;
}

.projectContainer:nth-child(6) {
    grid-area: six;
}

@media (max-width: 768px) {
    .projectsWrapper {
        grid-template-areas:
            'wordle wordle'
            'ecommerce malu'
            'dropdown malu'
            'todo todo';

        width: 100%;
        background-position: center;
    }

    .linkIcon {
        width: 15px;
        height: 15px;
    }

    .projectText h4 {
        font-size: 0.8rem;
    }

    .projectText p {
        font-size: 0.6rem;
        width: 100%;
    }

}