.sectionClass {

    margin-block: unset;
    margin-bottom: 12vh;
    background: var(--white);
}


.sectionWrapper {
    border-left: solid 5px var(--cl-accent);
    width: 50%;
}

@media (max-width: 768px) {
    .sectionWrapper {
        width: 100%;
    }
}