.sectionWrapper p {}

.primaryText {
    composes: primaryText from "../HomeSectionLayout/HomeSectionLayout.module.css";
    text-align: center !important;
}

.primaryText a {}

.formWrapper {
    margin-top: 5rem;

}