.section {
    /* height: 100dvh; */
}

.sectionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardsWrapper {
    display: grid;
    gap: 1.5rem;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
}

.cardsWrapper>* {
    /* width: 100%; */
}

@media (max-width: 768px) {
    .cardsWrapper {
        grid-template-columns: none;
        grid-auto-flow: row;
        justify-content: center;
    }

}