.sectionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardsWrapper {

    display: flex;

    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
}

.cardsWrapper>* {
    width: 100%;
}

@media (max-width: 768px) {
    .cardsWrapper {
        flex-direction: column;
        width: 100%;
    }

}