.homeSection {
    margin-block: 12vh;
    scroll-margin-top: 1rem;
    /* min-height: 50vh; */
    padding-block: 2rem;
}

.homeSection:first-of-type {
    margin-block: unset;
    margin-bottom: 12vh;
    background: var(--white);
}

.homeSection:nth-child(2) {}

.sectionTitle {
    color: lightgray;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    text-transform: lowercase;
}

.sectionTitle::before {
    content: "_"
}

.primaryText {
    font-family: var(--roboto);
    font-size: clamp(1rem, 1vw, 1.125rem);
    /* font-weight: 500; */
    color: var(--white);
    max-width: 780px;
    text-align: justify;
    margin: 0 auto;
    line-height: 1.6;
}

.primaryText a {
    text-decoration: underline;
    color: var(--cl-accent);

}


/*----  General scroll animations ---- */
.notInView {
    /* filter: blur(3px); */
    opacity: 0;
    transform: translateX(-300px);
}

.inView {
    /* filter: blur(0); */
    opacity: 1;
    transition: all 0.5s ease;
    transform: translateX(0);
}