.homeSection {
    margin-bottom: 12vh;
    scroll-margin-top: 1rem;
    padding-block: 2rem;

}


.sectionTitle {
    color: var(--white);
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    text-transform: lowercase;
}

.sectionTitle::before {
    content: "_";
    color: var(--cl-accent)
}

.primaryText {
    font-family: var(--roboto);
    font-size: clamp(1rem, 1vw, 1.1rem);
    color: var(--white);
    width: 80%;
    margin: 0 auto 1rem auto;
    line-height: 1.6;

}

.primaryText:not(.primaryText:last-of-type) {
    margin-bottom: 1rem;
}

.primaryText>a {
    font-size: inherit;
    font-weight: 500;
    text-decoration: none;
    color: var(--cl-accent);
    position: relative;
    cursor: pointer;
}

.primaryText>a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--cl-accent);
    box-shadow: 0 0 1px var(--cl-accent);
    transition: width 0.5s ease;
}

.primaryText>a:hover::after {
    width: 100%;
}

/*----  General scroll animations ---- */
.notInView {
    opacity: 0;
    transform: translateX(-300px);
}

.inView {
    opacity: 1;
    transition: all 0.5s ease;
    transform: translateX(0);
}