/* Button container */


.burgerContainer {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
    position: fixed;
    padding: 1rem;
    border-radius: 50%;
    top: 1rem;
    right: 0.6rem;
    /* background: var(--white); */
    backdrop-filter: blur(5px);

}


.burgerBtn,
.burgerBtn::before,
.burgerBtn::after {
    content: "";
    background: var(--cl-accent);
    width: 20px;
    height: 2px;
    border-radius: 6px;
    position: absolute;
    z-index: 1000;
    transition: 0.5s ease;
}


.burgerBtn::before {
    transform: translateY(-6px);
}

.burgerBtn::after {
    transform: translateY(6px);
}


.burgerActive .burgerBtn {
    /* transform: translate(50px); */
    background: transparent;
}

.burgerActive .burgerBtn::before {
    transform: rotate(45deg);
    background: var(--white);

}

.burgerActive .burgerBtn::after {
    transform: rotate(-45deg);
}


/* Aside */
.asideWrapper {
    position: fixed;
    z-index: 999;
    right: 0;
    top: 0;
    height: 100dvh;
    width: 100%;
    background-color: var(--cl-main-dark);
    transform: translateY(100%);
    opacity: 0;

    /* variable so the anchor takles the whole space */
    --margin-inline: 1.5rem;
    padding-inline: var(--margin-inline);
    padding-block: 1rem;
    padding: 1.5rem 1rem;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.burgerActive .asideWrapper {
    opacity: 1;
    transform: translateY(0);
}

.backToTop {
    text-decoration: none;
    font-weight: 300;
    font-size: 0.7rem;
    color: var(--white);
    margin-right: auto;
}

/* Nav styles */
.navWrapper {
    margin-top: 5rem;
}

.navWrapper ul {
    padding: 0;
}

.navWrapper li a {
    padding: 1rem;
    display: block;
    text-transform: lowercase;
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
    color: inherit;
    color: var(--white);
    /* margin-inline: calc(-1 * (var(--margin-inline))); */
    transition: 0.2s ease;
}

.navWrapper li a:hover {
    transform: scale(1.2);
}

.navWrapper li a::before {
    content: "_"
}

.navWrapper li>a:hover::before {
    color: var(--cl-accent)
}

.contact::before {
    color: var(--cl-more-accent);
}