/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600;700&display=swap');


/* Variáveis */

:root {

  /* Ocean treasure */
  /* --bg-gradient: linear-gradient(180deg, var(--cl-main-light) 0%, var(--cl-main-dark) 25%, var(--cl-main-dark) 80%); */
  --bg-gradient: var(--cl-main-dark);

  --cl-main-dark: #0a1e2c;
  --cl-main-light: #103b57;

  --cl-accent: #cf9c04;
  --cl-accent-dark: #9c8000;

  --white: #D9D9D9;


  /* Fiery night */
  --bg-gradient: var(--cl-main-dark);

  --cl-main-dark: #121518;
  --cl-main-light: #1d2225;

  --cl-accent: #F05454;
  --cl-accent-dark: #cf3c3c;
  --cl-more-accent: #05ebfa;
  --white: #D9D9D9;

  /* Fonts */
  --roboto: 'Roboto Slab', serif;
  --fira: 'Fira Code', sans-serif;

  /* Layout fixed */
  --nav-height-desktop: 80px;
  --nav-height-mobile: 60px;

}

/* --------------------- */
/* Definições gerais */
/* --------------------- */

a {
  cursor: pointer;
}

.container {
  max-width: 1440px;
  width: 80%;
  margin-inline: auto;
}


@media (max-width: 768px) {
  .container {
    width: 100%;
    padding-inline: 1rem;
  }
}

body {
  background: var(--bg-gradient);
  font-family: 'Fira Code', monospace;
  color: var(--white);

}

html {
  scroll-behavior: smooth;
}


/* Utility classes */

.flex-align {
  display: flex;
  align-items: center;
  gap: var(--align-gap, 1rem)
}


/* Specific styles */
.primary-link {
  text-decoration: none;
  color: var(--cl-accent);
  transition: all 1s ease;
  position: relative;
}

.primary-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--cl-accent);
  bottom: -1px;
  left: 0px;
  transition: all 0.3s ease;
  transform: scaleX(0);
  transform-origin: 0 0;

}

.primary-link:hover::after {
  transform: scaleX(1);
  transform-origin: 0 0;
}