/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600;700&display=swap');


/* Variáveis */

:root {

  /* Ocean treasure */
  /* --bg-gradient: linear-gradient(180deg, var(--cl-main-light) 0%, var(--cl-main-dark) 25%, var(--cl-main-dark) 80%); */
  --bg-gradient: var(--cl-main-dark);

  --cl-main-dark: #0a1e2c;
  --cl-main-light: #103b57;

  --cl-accent: #cf9c04;
  --cl-accent-dark: #9c8000;

  --white: #D9D9D9;


  /* Fiery night */
  --bg-gradient: var(--cl-main-dark);

  --cl-main-dark: #161A1D;
  --cl-main-light: #1d2225;

  --cl-accent: #F05454;
  --cl-accent-dark: #aa1a1a;
  --cl-more-accent: rgb(208, 89, 255);
  --white: #D9D9D9;

  /* Fonts */
  --roboto: 'Roboto Slab', serif;
  --fira: 'Fira Code', sans-serif;

  /* Layout fixed */
  --nav-height-desktop: 80px;
  --nav-height-mobile: 60px;

}

/* --------------------- */
/* Definições gerais */
/* --------------------- */

.container {
  max-width: 1440px;
  width: 80%;
  margin-inline: auto;
}


@media (max-width: 768px) {
  .container {
    width: 100%;

  }
}

body {
  background: var(--bg-gradient);
  font-family: 'Fira Code', monospace;
  color: var(--white);

}

html {
  scroll-behavior: smooth;
}



@media (max-width: 768px) {
  section {
    padding-inline: 1rem;

  }
}

/* Utility classes */

.flex-align {
  display: flex;
  align-items: center;
  gap: var(--align-gap, 1rem)
}