.cardWrapper {
    display: flex;
    flex-direction: column;
    max-width: 300px;

    /* min-height: 250px; */
    background: var(--deep-blue);
    padding: 2rem;
    border: 2px solid #0084ff;
    gap: 1rem;
}

.svg>* {
    width: 35px;
    height: 35px;
}



.title {
    margin-top: 0.8rem;
    font-size: 1.1rem;
    font-weight: 700;
}

.text {
    margin-top: 0.3rem;
    font-size: 0.7rem;
    font-weight: 400;
}