.cardWrapper {
    display: flex;
    flex-direction: column;
    background: var(--cl-main-light);
    padding: 2rem;
    border: 2px solid var(--cl-accent);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 25px, rgba(0, 0, 0, 0.22) 0px 10px 12px;
    border-radius: 8px;
    gap: 1rem;
    transition: all 0.8s ease;
    cursor: pointer;
    z-index: 1;
    /* max-width: 320px; */
    /* height: 100%; */
}

.svg>* {
    width: 35px;
    height: 35px;

}

.title {
    /* margin-top: -.5rem; */
    font-size: 1.1rem;
    font-weight: 700;
}

.text {
    margin-top: -0.5rem;
    font-size: 0.85rem;
    font-weight: 400;
}

.cardWrapper:hover {
    transform: translateY(-10px);
}


.cardWrapper:hover .svg {
    transition: all 0.1s ease;
    color: var(--cl-accent);
}

@media (max-width: 768px) {
    .cardWrapper {
        padding: 1rem;
    }
}